
    <div class="row">
      <div class="col-md">
        <h2 class="text-dark text-center"> MAIN</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <img class="rounded img-fluid p-2" src="https://placebear.com/g/300/400">
      </div>
      <div class="col-3"></div>

    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-2">
        <button type="button" class="btn btn-info  p-2 m-2">Button BOIE</button>
      </div>
      <div class="col-5"></div>

    </div>