<div class="container-fluid">

<div class="row mh-50 ">
    <div class="col">
    <app-header class=""></app-header>
    </div>
</div>

    <div class="row h-25">
        <div class="col">
            <app-navigation></app-navigation>
        </div>
    </div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-md-6 m-2 bg-secondary rounded">
        <app-main></app-main>
    </div>
    <div class="col-md-4 m-2 bg-secondary rounded">
        <app-side></app-side>
    </div>
    <div class="col-1"></div>
</div>

    <div class="row">
        <div class="col">
        <app-footer></app-footer>
        </div>
    </div>
</div>

